body{
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

.modifiers{
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  background-color: rgba(255,255,255,.4);
  font-size: 20px;
  padding: 20px;
  z-index: 10;
}

label{
  margin-bottom: 30px;
  display: block;
}

input[type="range"]{
  width: 100%;
}